{% load static %}<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Exam</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/Custom/Form.css' %}"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/Custom/Exam3.css' %}">
		<link rel="stylesheet" href="{% static 'css/Custom/Navbar3.css' %}">
	</head>
	<body>
		<ul class="navbar">
			<span class="navbar_logo">
				<img src="{% static 'images/login_logo.jpg' %}" alt="logo">
			</span>
			<li><a class="active" href="{% url 'patient' %}">Patient</a></li>
			<li><a href="{% url 'reminders' %}">Reminders</a></li>
			<li><a href="{% url 'diary' %}">Diary</a></li>
			<li><a href="#">Till</a></li>
		</ul>
		<div class="main">
			<div id="popup">
				<div class="modal-content">
					<span class="close">&times;</span>
					<div class="alert alert-primary">
						<strong>Info!</strong> Processing the Exam Information
					</div>
					<div class="process_info">
						Processing 
					</div>
				</div>
			</div>		
			<form method="post">
				{% csrf_token %}
				<div class="left_section">
					<div class="info">
						<h4>General Examination</h4>
						<div class="field">
							<label>Height:</label>
							{{ Examform.height }}
						</div>
						<div class="field">
							<label>Weight:</label>
							{{ Examform.weight }}
						</div>
						<div class="field">
							<label>Cigarrettes per day:</label>
							{{ Examform.smoke_per_day }}
						</div>
						<div class="field">
							<label>How many years the patient has been smoking:</label>
							{{ Examform.smoker_years }} 
						</div>
						<div class="field">
							<label>Heart rate:</label>
							{{ Examform.heart_rate }}
						</div>
						<div class="field">
							<label>Regular Pulse:</label>
							{{ Examform.reg_pulse }}
						</div>
						<div class="field">
							<label>Chest Pain:</label>
							{{ Examform.cp }} 
						</div>
						<div class="field">
							<label>Breathlessness:</label>
							{{ Examform.breathlessness }}
						</div>
					</div>
				</div>
				<div class="right_section">
					<div class="info">
						<h4>Blood Tests</h4>
						<div class="field">
							<label>Systolic blood pressure:</label>
							{{ Examform.blood_systolic }}
						</div>
						<div class="field">
							<label>Diastolic blood pressure:</label>
							{{ Examform.blood_diastolic }}
						</div>
						<div class="field">
							<label>Glucose:</label>
							{{ Examform.fasting_glucose }}
						</div>
						<div class="field">
							<label>HDL Cholesterol:</label>
							{{ Examform.hdl_chol }}
						</div>
						<div class="field">
							<label>LDL Cholesterol:</label>
							{{ Examform.ldl_chol }}
						</div>
						<div class="field">
							<label>Total cholesterol:</label>
							{{ Examform.chol_total }}
						</div>
						<div class="field">
							<label>Triglyceride:</label>
							{{ Examform.triglyceride }}
						</div>
						<div class="field">
							<label>Uric acid:</label>
							{{ Examform.uric_acid }}
						</div>
					</div>
				</div>
				<div class="submit_btn">
						<input class="btn btn-primary btn-lg btn-block" name="process_exam" type="submit" value="Process Exam" onclick="displayMessage()" />
					</div>
			</form>
		</div>
		<script>
			window.onscroll = function() {myFunction()};

			var navbar = document.getElementsByClassName("navbar")[0];
			var sticky = navbar.offsetTop;

			function myFunction() {
				if (window.pageYOffset >= sticky) {
					navbar.classList.add("sticky");
				} else {
					navbar.classList.remove("sticky");
				}
			}

			function displayMessage()
			{
				document.getElementById("popup").style.display = "block";
			}

			span.onclick = function() 
			{
				document.getElementById("popup").style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) 
			{
				if (event.target == document.getElementById("popup"))
				{
					document.getElementById("popup").style.display = "none";
				}
			}

		</script>
	</body>
</html>