{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Patients</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Form.css' %}">
</head>
<body>
  <div class="container">
    <h2>Patients</h2>

    <form method="post">
      {% csrf_token %}
      {{ Selectform.as_p }}
      <input class="btn btn-outline-dark" name="select_patient" type="submit" value="Create visit" />
    </form>
    <br>
    <form method="post">
      {% csrf_token %}
      {{ Createform.as_p }}
      <input class="btn btn-outline-dark" name="create_patient" type="submit" value="Create" />&nbsp;&nbsp;<a href="{% url 'logout' %}">Logout</a>
    </form>
    <!-- <h2>{{ exam_input }}</h2> -->

  </div>
</body>
</html>