{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Patients</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Form.css' %}">
</head>
<body>
  <div class="container">
    <h2>Patients</h2>

    <form class="form-inline my-2 my-lg-0">
      <input 
        class="form-control mr-sm-2" 
        type="search" 
        placeholder="Search" 
        aria-label="Search"
        name="search"
      >
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>

  {% if searched_patients is not null %}
    <table class="table">
        <thead class="thead-inverse">
          <tr class="bg-dark text-white">
            <th>Patient Name</th>
            <th>DOB</th>
            <th>age</th>
          </tr>
        </thead>
        <tbody>
          {% for p in searched_patients %}
            <tr>
              <td>
               {{ p.patient_name }}
              </td>
              <td class="align-middle">
                {{ p.DOB }}
              </td>
              <td class="align-middle">
                {{ p.age }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <br>
    <form method="post">
      {% csrf_token %}
      {{ Createform.as_p }}
      <input class="btn btn-outline-dark" name="create_patient" type="submit" value="Create" />&nbsp;&nbsp;<a href="{% url 'logout' %}">Logout</a>
    </form>
    <!-- <h2>{{ exam_input }}</h2> -->

  </div>
</body>
</html>








<!-- Original form with dropdown -->
    <!-- <form method="post" class="form-inline my-2 my-lg-0">
      {% csrf_token %}
      {{ Selectform.as_p }}
      <input class="btn btn-outline-dark my-2 my-sm-1" name="select_patient" type="submit" value="Create visit" />
      <input class="btn btn-outline-dark" name="create_reminder" type="submit" value="Create Reminder" />
    </form> -->