* {
  box-sizing: border-box;
}

body
{
  font-family: Arial;
  margin: 1.5em 5em 0 5em;
  padding: 10px;
  min-height: 100%;
}

.main
{
  width: 100%;
  margin: 0 auto;
}

.login_section
{
 /* background: #f1f1f1;
  max-width: 80%;
  position: absolute;
  padding: 10em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
*/
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff; 
}

.info 
{/*
  background-color: white;
  margin: 0.5em;
  padding: 2em;
  min-height: 100%;
  */
  width: 390px;
  background: #fff;
  padding-top: 1em;
}

.login_title
{
  text-decoration: underline;
  font-weight: bold;
  display: block;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 1em;
}

.login_logo
{
  display: block;
  width: 9em;
  height: 9em;
  text-align: center;
  /*overflow: hidden;*/
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.login_logo img
{
  width: 100%;
  height: auto;
}

.main:after
{
  content: "";
  display: table;
  clear: both;
}

/*MIGHT NOT NEED!!*/
form
{
  width: 100%;
}