* {
  box-sizing: border-box;
}

body
{
  font-family: Arial;
  margin: 1.5em 5em 0 5em;
  padding: 10px;
  min-height: 100%;
}

.main
{
  margin-left: 7em;
  background: #f1f1f1;
  height: 100%;
}

.left_section
{
  float: left;
  width: 40%;
}

.left_section .field
{
  margin-top: 1.65em;
}

.right_section
{
  float: left;
  width: 60%;
}

.search
{
  padding-top: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.search_input
{
  border: 3px solid #bbb;
  outline: none;
  border-radius: .25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  margin-top: 0.4em
  line-height: 1.5;
}

.search_input:focus 
{
  border: 3px solid #555;
}

.search_button
{  
  background-color: white;
  color: black;
  border: 2px solid #555555;
  margin-bottom: 0.1em;
}

.search_button:hover 
{
  background-color: #555555;
  color: white;
}

.search_form
{
  display: inline-block;
  padding-right: -1em;
}

.search_table
{
  max-width: 80%;
  margin: 0 auto;
  background-color: white;
  max-height: 250px;
  overflow-y: auto;
}

.search_table table
{
  margin-bottom: 0!important;
}

.info 
{
  background-color: white;
  margin: 0.5em;
  padding: 2em;
  min-height: 100%;
}

.info > h4
{
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1em;
}

.field
{
  margin: 1em 0 0.7em 0;
}

.field_value
{
  padding: 0.25em;
  max-width: 70%;
  border-left: 4px solid black;
  background-color: #f1f1f1;
}

.input_field
{
  width: 100%;
  padding: 0.8em 0 0.5em 0.5em;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color: white;
  border-radius: 4px;
}

.input_field:first-child
{
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.input_field:focus 
{
  border: 3px solid #555;
}

/* Create Visit */
.form-popup 
{
  display: none;
  position: relative;
  z-index: 9;
  transition: 0.5s;
}

#myForm form
{
  margin: 0 auto;
  margin-top: 1em;
}

#reminder_popup
{
/*  margin: 0 auto;
  max-width: 85%;
  margin: 0 2em 0 2em;
  display: none;*/
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.overdue
{
  text-decoration-color: red;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-container 
{
  max-width: 300px;
  padding: 0.8em;
  background-color: white;
}

.create_visit_btn 
{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.cancel 
{
  background-color: red;
}

.create_visit_btn:hover
{
  opacity: 1;
}

.create_visit_btn:focus
{
  background-color: #ababab;
  color: white;
}

/* Start Exam Button */
.start_exam_btn
{
  margin: 0;
  width: 100%;
  padding: 0;
}

.visit_btn
{
  margin: 0 3em 0 6em;
}

.main:after
{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .left_section, .right_section {   
    width: 100%;
    padding: 0;
  }
}
