* {
  box-sizing: border-box;
}

body
{
  font-family: Arial;
  margin: 1.5em 5em 0 5em;
  padding: 2em;
  min-height: 100%;
}

.main
{
  margin-left: 7em;
  background: #f1f1f1;
  height: 100%;
  min-height: 500px;
}

.section
{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 2em 0 5em 0;
}

.proceed_form
{
  margin: 0 2em 0 2em;
  padding: 0 2em 0 2em;
}

.proceed_form form
{
  margin: 0 auto;
  padding: 2em 2em 0 2em;
  max-width: 500px;
}

.info
{
  background-color: white;
  padding: 1em;
  min-height: 100%;
}